{% extends "krapat/base.html" %}

{% block head_title %}
Krapat - Areas
{% endblock %}

{% block page_content %}

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Areas</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

        {% for area in areas %}
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                        <!-- Note: stretched-link is to make the card click'able -->
                        <a href="{% url 'area' pk=area.pk %}" class="text-decoration-none stretched-link">
                        {{ area.title }}
                        </a>
                    </h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                            <small>{{ area.department }}</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                            <small>{{ area.region }}</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>


{% comment %}
<h1>@@ Bouldering areas @@</h1>
{% if not areas %}
    <p>No areas are available. </p>
    <li><a href="{% url 'area_add' %}">Create a new area BB</a></li>
{% else %}
<ul>
    <li><a href="{% url 'area_add' %}">Create a new area</a></li>
    {% for area in areas %}
        <li><a href="/area/{{ area.pk }}">{{ area }}</a> - <a href="/area/{{ area.pk }}/update">edit</a></li>
        <ul>
            <li><a href="/subarea/add/{{ area.pk }}">Create a new subarea</a></li>
            {% for subarea in area.subareas.all %}
            <li><a href="/subarea/{{ area.pk }}">{{ subarea }}</a> - <a href="/subarea/{{ area.pk }}/update">edit</a></li>
                <ul>
                <li>Found {{ subarea.problems.count }} problem(s)</li>
                <li>
                    <a href="/problem/add/{{ subarea.pk }}">Add problem</a>
                </li>
                <li>
                    <a href="/problems/{{ subarea.pk }}">All problems</a>
                </li>
                <li>Circuits:</li>
                <ul>
                </ul>
            </ul>

            {% endfor %}
        </ul>

    {% endfor %}
</ul>
{% endif %}

<hr>

{% endcomment %}

{% endblock %}