<head>
    {{ form.media }}
</head>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Submit">
    <a href="{% url 'areas' %}" class="btn btn-secondary">Cancel</a>
</form>
