
{% comment %}
<h1>@@ Problems for {{ request.user }} @@</h1>
{% endcomment %}
<h1>@@ Problems for {{ subarea.title }} @@</h1>
{% if not problems %}
    <p>No problems are available. </p>
    <li><a href="/problem/add/{{ subarea.pk }}">Create a new problem</a></li>
{% else %}
<ul>
    <li><a href="/problem/add/{{ subarea.pk }}">Create a new problem</a></li>
    {% for problem in problems %}
    <li>
        <a href="/problem/{{ problem.pk }}">{{ problem }}</a> - <a href="/problem/{{ problem.pk }}/update">edit</a>
        - <a href="/image_upload">upload image</a>
    </li>
    {% endfor %}
</ul>
{% endif %}

<hr>