<form action="" method="post">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Submit">
    <a href="{% url 'subarea' pk=subarea.pk %}" class="btn btn-secondary">Cancel</a>
</form>
