{% extends "krapat/base.html" %}

{% block head_title %}
Krapat - {{ problem.title }}
{% endblock %}

{% block page_content %}
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">
        {% if problem.get_grade_addon_display %}
        {{ problem.title }} ({{problem.get_grade_display}}{{problem.get_grade_addon_display}})
        {% else %}
        {{ problem.title }} ({{problem.get_grade_display}})
        {% endif %}
    </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{{ problem.description }}</p>
    </div>
</div>

<div id="carousel_problem" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
        {% for img in images %}
        {% if forloop.counter0 == 0 %}
        <button type="button" data-bs-target="#carousel_problem" data-bs-slide-to="{{ forloop.counter0 }}" class="active" aria-current="true" aria-label="Slide {{ forloop.counter0 }}">
        </button>
        {% else %}
        <button type="button" data-bs-target="#carousel_problem" data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide {{ forloop.counter0 }}">
        </button>
        {% endif %}
        {% endfor %}
    </div>

    <div class="carousel-inner">
        {% for src, srcset in src_iterator %}
        {% if forloop.counter0 == 0 %}
        <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
        {% endif %}

            {% comment %}
            w-100 && d-block:
            https://getbootstrap.com/docs/5.2/components/carousel/#slides-only
            {% endcomment %}

            {% comment %}
            <img src="{{ img.image.url }}"
                 srcset="/media/images/cr%C3%A9miou_1_alien_1_w600_optim.jpg 600w, {{ img.image.url }} 1536w"
                 class="d-block w-100"
                 alt="..."
                 loading="lazy"
                 decoding="async"
            >
            {% endcomment %}

            <img src="{{ src }}"
                 srcset="{{ srcset }}"
                 class="d-block w-100"
                 alt="..."
                 loading="lazy"
                 decoding="async"
            >

        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


{% endblock %}