{% extends "krapat/base.html" %}

{% block head_title %}
Krapat - {{ subarea.title }}
{% endblock %}

{% block page_content %}

{% comment %}
<a href="{% url 'problem_add' subarea_pk=subarea.pk %}" class="btn btn-outline-dark">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
  </svg>
  <span>Add problem</span>
</a>

<hr>
{% endcomment %}

{% comment %}
<p><a href="#">View on maps</a></p>
<hr>
{% endcomment %}
<ul class="list-group">
  {% for problem in problems.all %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="{% url 'problem' pk=problem.pk %}" class="text-decoration-none stretched-link">{{ problem.title }}</a>
    {% if problem.get_grade_addon_display %}
    <span class="badge bg-primary rounded-pill">{{ problem.get_grade_display }}{{ problem.get_grade_addon_display }}</span>
    {% else %}
    <span class="badge bg-primary rounded-pill">{{ problem.get_grade_display }}</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>
<hr>

{% endblock %}